.DS_Store
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcuserdatad
xcuserdata
*.swp
*.xccheckout
/build
/scripts/build
.buckd
buck-out
buck-cache
