//
// Copyright 2004-present Facebook. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "../Configurations/Project.xcconfig"

#include "../Configurations/Install.xcconfig"
XT_INSTALL_DIR = libexec

#include "../Configurations/iOS.xcconfig"

// This has the product type of a dylib (that's what iOS allows), but we want an executable.
EXECUTABLE_PREFIX =
EXECUTABLE_SUFFIX =
EXECUTABLE_EXTENSION =
MACH_O_TYPE = mh_execute
DYLIB_COMPATIBILITY_VERSION =
DYLIB_CURRENT_VERSION =
