//
// Copyright 2013 Facebook
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

//
// Trick Xcode into building this as a dynamic lib for iOS.
//

// Mapping of Xcode version to the newest, bundled iOS SDK.
XT_NEWEST_IOS_SDK_32_0460 = 6.1
XT_NEWEST_IOS_SDK_64_0460 = UNSUPPORTED
XT_NEWEST_IOS_SDK_32_0500 = 7.0
XT_NEWEST_IOS_SDK_64_0500 = 7.0
XT_NEWEST_IOS_SDK_EXPANDED_32_0460 = 61000
XT_NEWEST_IOS_SDK_EXPANDED_64_0460 = UNSUPPORTED
XT_NEWEST_IOS_SDK_EXPANDED_32_0500 = 70000
XT_NEWEST_IOS_SDK_EXPANDED_64_0500 = 70000

// These versions must match an installed iPhoneSimulator SDK or the build will fail in Xcode.
XT_IOS_SDK_VERSION_32 = $(XT_NEWEST_IOS_SDK_32_$(XCODE_VERSION_MINOR))
XT_IOS_SDK_VERSION_EXPANDED_32 = $(XT_NEWEST_IOS_SDK_EXPANDED_32_$(XCODE_VERSION_MINOR))
XT_IOS_SDK_VERSION_64 = $(XT_NEWEST_IOS_SDK_64_$(XCODE_VERSION_MINOR))
XT_IOS_SDK_VERSION_EXPANDED_64 = $(XT_NEWEST_IOS_SDK_EXPANDED_64_$(XCODE_VERSION_MINOR))

// 2-dimensional mapping for arch
// This is going to get really big once 71000, or (god forbid) 80000 comes out.
// format: prefix_$(32-bit sdk)_$(64-bit sdk)
XT_ARCHS_FOR_IOS_SDK_50000_UNSUPPORTED=i386
XT_ARCHS_FOR_IOS_SDK_51000_UNSUPPORTED=i386
XT_ARCHS_FOR_IOS_SDK_60000_UNSUPPORTED=i386
XT_ARCHS_FOR_IOS_SDK_61000_UNSUPPORTED=i386

XT_ARCHS_FOR_IOS_SDK_50000_70000=i386 x86_64
XT_ARCHS_FOR_IOS_SDK_51000_70000=i386 x86_64
XT_ARCHS_FOR_IOS_SDK_60000_70000=i386 x86_64
XT_ARCHS_FOR_IOS_SDK_61000_70000=i386 x86_64
XT_ARCHS_FOR_IOS_SDK_70000_70000=i386 x86_64

// Build universal binary when 7.0 is available.
// Setting XT_IOS_SDK_VERSION[arch=x86_64] to 'UNSUPPORTED' is OK,
//    as long as ARCHS and VALID_ARCHS are forced to i386.
ARCHS = $(XT_ARCHS_FOR_IOS_SDK_$(XT_IOS_SDK_VERSION_EXPANDED_32)_$(XT_IOS_SDK_VERSION_EXPANDED_64))
VALID_ARCHS = $(XT_ARCHS_FOR_IOS_SDK_$(XT_IOS_SDK_VERSION_EXPANDED_32)_$(XT_IOS_SDK_VERSION_EXPANDED_64))
XT_IOS_SDK_VERSION[arch=i386] = $XT_IOS_SDK_VERSION_32
XT_IOS_SDK_VERSION[arch=x86_64] = $XT_IOS_SDK_VERSION_64
XT_IOS_SDK_VERSION_EXPANDED[arch=i386] = $XT_IOS_SDK_VERSION_EXPANDED_32
XT_IOS_SDK_VERSION_EXPANDED[arch=x86_64] = $XT_IOS_SDK_VERSION_EXPANDED_64

// Xcode 4 and Xcode 5 use a different option name to specify the min OS version.
//
// In Xcode 4, it's like ... `-miphoneos-version-min=5.0`
// In Xcode 5, it's like ... `-mios-simulator-version-min=5.0`
XT_IOS_SIMULATOR_VERSION_MIN_0460 = iphoneos-version-min
XT_IOS_SIMULATOR_VERSION_MIN_0500 = ios-simulator-version-min

// Must be set to 'macosx' or you'll get an error:
//    target specifies product type 'com.apple.product-type.library.dynamic', but there's no
//    such product type for the 'iphonesimulator' platform
SDKROOT = macosx

// Xcode 5's bundled linker seems to be less forgiving with us trying to make it
// build an iOS dylib.  Let's use a wrapper around 'ld' and 'cc' to make it strip
// out the OSX specific flags.
LD = ../Configurations/dont_clang_as_osx.py
CC = $(SRCROOT)/../Configurations/dont_clang_as_osx.py

// -fobjc-abi-version=2
//    Forces the ObjC 2.0 ABI.  You wouldn't normally set this for an OS X dylib as it's already
//    implied for all but the oldest releases of OS X.  This is required when building for the
//    Simulator - otherwise it defaults to v1 and winds up with linker errors.
//
// -D__IPHONE_OS_VERSION_MIN_REQUIRED=60000
//    Makes the availability macros work.  These defines are normally generated from the
//    -mmacosx-version-min=10.7 or -miphoneos-version-min=6.0 compiler flags, and those flags are
//    automatically inserted by Xcode given the type of project.  Since this is an OS X dylib
//    project, Xcode has already inserted "-mmacosx-version-min=10.7" for us which makes all the
//    availability macros think we're building for OS X (and, therefore, cannot use iOS-specific
//    classes).  Setting __IPHONE_OS_VERSION_MIN_REQUIRED convinces the availability macros we're
//    building for iOS.
_OTHER_CFLAGS = -fobjc-abi-version=2 -D__IPHONE_OS_VERSION_MIN_REQUIRED=$(XT_IOS_SDK_VERSION_EXPANDED)

// define these so includers that need additional cflags can do
// OTHER_CFLAGS = $(_IOS_SIMULATOR_CFLAGS) -addtional_flags
_IOS_SIMULATOR_CFLAGS = -isysroot "$(PLATFORM_DIR)"/../iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator$(XT_IOS_SDK_VERSION).sdk $(_OTHER_CFLAGS) -F"$(PLATFORM_DIR)"/../iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator$(XT_IOS_SDK_VERSION).sdk/Developer/Library/Frameworks -m$(XT_IOS_SIMULATOR_VERSION_MIN_$(XCODE_VERSION_MINOR))=$(XT_IOS_SDK_VERSION)

_IOS_SIMULATOR_LDFLAGS = -isysroot "$(PLATFORM_DIR)"/../iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator$(XT_IOS_SDK_VERSION).sdk -F"$(PLATFORM_DIR)"/../iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator$(XT_IOS_SDK_VERSION).sdk/Developer/Library/Frameworks -m$(XT_IOS_SIMULATOR_VERSION_MIN_$(XCODE_VERSION_MINOR))=$(XT_IOS_SDK_VERSION)

OTHER_CFLAGS = $(_IOS_SIMULATOR_CFLAGS)
OTHER_LDFLAGS = $(_IOS_SIMULATOR_LDFLAGS)

