LD_CAID = $(PROJECT_DIR)/../Vendor/clang-as-ios-dylib/links/ld-iphonesimulator-latest-targeting-5.0
LD_0400 = $(LD_CAID)
LD_0500 = $(LD_CAID)
LD_0600 = $(LD)
LD = $(LD_$(XCODE_VERSION_MAJOR))

CC_CAID = $(PROJECT_DIR)/../Vendor/clang-as-ios-dylib/links/cc-iphonesimulator-latest-targeting-5.0
CC_0400 = $(CC_CAID)
CC_0500 = $(CC_CAID)
CC_0600 = $(CC)
CC = $(CC_$(XCODE_VERSION_MAJOR))

SDKROOT_IOS_DEFAULT_0400 = macosx
SDKROOT_IOS_DEFAULT_0500 = macosx
SDKROOT_IOS_DEFAULT_0600 = iphonesimulator

SDKROOT_IOS_OVERRIDE_ = $(SDKROOT_IOS_DEFAULT_$(XCODE_VERSION_MAJOR))
SDKROOT_IOS_OVERRIDE_NO = $(SDKROOT_IOS_OVERRIDE_)
SDKROOT_IOS_OVERRIDE_YES = $(SDKROOT_IOS_OVERRIDE_VALUE)
SDKROOT = $(SDKROOT_IOS_OVERRIDE_$(SDKROOT_IOS_OVERRIDE))

CONFIGURATION_BUILD_DIR = $(SYMROOT)/$(CONFIGURATION)
