//
// Copyright 2004-present Facebook. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "../Configurations/Project.xcconfig"

#include "../Configurations/Install.xcconfig"
XT_INSTALL_DIR = bin

DEVELOPER_PRIVATE_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/Platforms/iPhoneSimulator.platform/Developer/Library/PrivateFrameworks
OS_X_PLATFORM_DEVELOPER_FRAMEWORKS = $(DEVELOPER_DIR)/Platforms/MacOSX.platform/Developer/Library/Frameworks
SHARED_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/../SharedFrameworks
PRIVATE_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/Library/PrivateFrameworks
MIGRATION_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/Library/MigrationFrameworks
XCTOOL_VENDOR_DIR = $(SRCROOT)/../Vendor

// xctool will weak link following frameworks, and then configure the necessary
// DYLD paths on startup to make sure they can be loaded.
OTHER_LDFLAGS = -weak_framework DVTFoundation -weak_framework DVTiPhoneSimulatorRemoteClient -weak_framework CoreSimulator -weak_framework XCTest

FRAMEWORK_SEARCH_PATHS_0600 = "$(DEVELOPER_LIBRARY_DIR)/Frameworks" "$(SHARED_FRAMEWORKS_DIR)" "$(PRIVATE_FRAMEWORKS_DIR)" "$(DEVELOPER_PRIVATE_FRAMEWORKS_DIR)" "$(XCTOOL_VENDOR_DIR)" "$(OS_X_PLATFORM_DEVELOPER_FRAMEWORKS)"
FRAMEWORK_SEARCH_PATHS_0700 = $(FRAMEWORK_SEARCH_PATHS_0600) "$(MIGRATION_FRAMEWORKS_DIR)"
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_$(XCODE_VERSION_MAJOR))

MACOSX_DEPLOYMENT_TARGET = 10.7
CLANG_ENABLE_OBJC_ARC = YES

GCC_PREPROCESSOR_DEFINITIONS = XCODE_VERSION=$(XCODE_VERSION_MAJOR)
