//
// Copyright 2013 Facebook
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "../Configurations/Project.xcconfig"

#include "../Configurations/Install.xcconfig"
XT_INSTALL_DIR = bin

DEVELOPER_PRIVATE_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/Platforms/iPhoneSimulator.platform/Developer/Library/PrivateFrameworks
SHARED_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/../SharedFrameworks
PRIVATE_FRAMEWORKS_DIR = $(DEVELOPER_DIR)/Library/PrivateFrameworks
XCTOOL_VENDOR_DIR = $(SRCROOT)/../Vendor

// xctool will weak link iPhoneSimulatorRemoteClient, and then configure the necessary
// DYLD paths on startup to make sure the framework can be loaded.
OTHER_LDFLAGS_0500 = -weak_framework DVTFoundation -weak_framework DVTiPhoneSimulatorRemoteClient -weak_framework SimulatorHost
OTHER_LDFLAGS_0600 = -weak_framework DVTFoundation -weak_framework DVTiPhoneSimulatorRemoteClient -weak_framework CoreSimulator
OTHER_LDFLAGS = $(OTHER_LDFLAGS_$(XCODE_VERSION_MAJOR))

FRAMEWORK_SEARCH_PATHS = "$(DEVELOPER_LIBRARY_DIR)/Frameworks" "$(SHARED_FRAMEWORKS_DIR)" "$(PRIVATE_FRAMEWORKS_DIR)" "$(DEVELOPER_PRIVATE_FRAMEWORKS_DIR)" "$(XCTOOL_VENDOR_DIR)"

MACOSX_DEPLOYMENT_TARGET = 10.7
CLANG_ENABLE_OBJC_ARC = YES

GCC_PREPROCESSOR_DEFINITIONS = XCODE_VERSION=$(XCODE_VERSION_MAJOR)
